
# VITE_aip_imgbb=a1a718e17141104cdbecc2fbca97d314
VITE_aip_imgbb=0592611c19d4d01e5bea695ef4bf59d7

# emailJs Service
VITE_EmailJS_Service_ID=service_xpo8nan
VITE_EmailJS_Template_ID=template_uapai1i
VITE_EmailJS_User_ID=zgVqrvJ7Q_cVxRSWc

MONGODB_URI=mongodb+srv://trrabby:mXbCdkDaSDaqVG6e@cluster0.xygzlb8.mongodb.net/Plated4U?retryWrites=true&w=majority&appName=Cluster0

NEXT_PUBLIC_BASE_API=http://localhost:5000/api
NEXT_PUBLIC_RECAPTCHA_CLIENT_KEY=6Ldk8PEqAAAAAGlou3Wg60a5ankafaAe77aYxJcm
NEXT_PUBLIC_RECAPTCHA_SERVER_KEY=6Ldk8PEqAAAAAGlTO3r5J1AuP3I46DMWoafmVfNo
